<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Como llegar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar debounce="750" (ionChange)="search($event)" [value]="selectedAddress"></ion-searchbar>
  <div>
    <ion-list lines="none" *ngIf="addresses.length > 0">
      <ion-item debounce="750" button *ngFor="let item of addresses" (click)="onSelect(item)">
        <ion-icon name="pin"></ion-icon>
        {{item.place_name}}
      </ion-item>
    </ion-list>


    <div id="geocoder" #asGeoCoder class="geocoder"></div>

    <div id="map" #asMap class="map-container"></div>
    <ion-button (click)="drawRoutes()">btn</ion-button>
  </div>
</ion-content>
