<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Como llegar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-label>por api</ion-label>
  <ion-searchbar debounce="750" (ionChange)="search($event)" [value]="selectedAddress"></ion-searchbar>
  <div>
    <ion-list lines="none" *ngIf="addresses.length > 0">
      <ion-item debounce="750" button *ngFor="let item of addresses" (click)="onSelect(item)">
        <ion-icon name="pin"></ion-icon>
        {{item.place_name}}
      </ion-item>
    </ion-list>

    <ion-label>por complemento deocoder</ion-label>
    <div id="geocoder" #asGeoCoder class="geocoder"></div>

    <div [ngClass]="{'active-way': modeInput === 'start'}">
      <div class="mock-label">Inicio</div>
      <div class="mock-input"> Ruta</div>
    </div>
    <div [ngClass]="{'active-way': modeInput === 'end'}">
      <div class="mock-label">Fin</div>
      <div class="mock-input"> Ruta</div>
    </div>


    <div id="map" #asMap class="map-container"></div>
    <!--ion-button (click)="drawRoutes()">btn</ion-button-->
    <ion-button >btn</ion-button>
  </div>
</ion-content>
