<ion-app>
  <ion-menu side="start" contentId="main">
    <ion-header>
      <ion-toolbar color="navy">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item routerLink="home" routerLinkActive="active">Inicio</ion-item>
          <ion-item routerLink="mapa" routerLinkActive="active">Como llegar</ion-item>
          <ion-item>Recoridos</ion-item>
          <ion-item routerLink="profile" routerLinkActive="active">Perfil</ion-item>
          <ion-item>Resenas de visitantesb</ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
