<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-slides (ionSlideDidChange)="slideChanged()">
      <ion-slide>
        <ion-img src="../../../assets/banner/tupiza1.jpg" style="opacity: 0.5;" ></ion-img>
        <h1 style="position: absolute; float: left; color: crimson;">Hola estimado amigo,<br>
          LE HABLA HERNAN SU GUIA Y CHOFER INDEPENDIENTE
          <h2 style="color: navy;">Bienvenido a su asistente de turismo semi automatico</h2>

          <a href="https://wa.me/59169616159">Whatsapp</a>
        </h1>
      </ion-slide>
      <ion-slide>
        <img alt="Silhouette of mountains" src="../../../assets/banner/tupiza2.jpg" />
      </ion-slide>
      <ion-slide>
        <img alt="Silhouette of mountains" src="../../../assets/banner/tupiza3.jpg" />
      </ion-slide>
      <ion-slide>
        <img alt="Silhouette of mountains" src="../../../assets/banner/tupiza4.jpg" />
      </ion-slide>
      <ion-slide>
        <img alt="Silhouette of mountains" src="../../../assets/banner/tupiza5.jpg" />
      </ion-slide>
    </ion-slides>

  </ion-toolbar>
</ion-header>
<!-- home.page.html -->
<ion-content>
  <!--ion-spinner></ion-spinner-->

  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>
</ion-content>

